@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 430px;
 
}

.container {
    background-color: #fff;
    margin-left: 10px;
    margin-right:10px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  
    width: 100%;
    max-width: 430px;
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;

}

.form-field {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius:7px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    height: 40px;
    width: 100%;
    transition: all 0.2s ease;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}




.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #fa5b3d;
}
.checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text a{
    color: #4070f4;
    text-decoration: none;
}

/* button */
.form-btn {
    margin-top: 20px;
    width:100%;
    display:flex;
    height: 50px;
    
}

.form-btn input{   
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #fa5b3d;
    cursor: pointer; 
    padding: 10px;
    margin-bottom: 5px;   
    width: 100%;
    
}

.form-btn:hover {
    background: #8B4000;
    cursor: pointer;
    border-radius: 6px;
}

.form-btn:focus {
    outline: none;
}
.login-signup{
    margin-top: 10px;
    margin-bottom:15px;
    text-align: center;
}
.login-signup a{
   text-decoration: none;
   color: #4070f4;
}

